<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather-Help</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
  
    {{>header}}
  
    <div>
        <p style="font-size: 20px;">
      If you want to search for a weather details of a particular location,
      all you to do is search for desired location into the search field <a href="/" style=" color: #ffffff">here</a>
        </p>
      <p>
        I have made this Weather App with greate passion to try JS in combination with NodeJS
      </p>
    </div>
  </div>
  {{>footer}}

</body>

</html>