<footer>
  <p>Created by <span class="name"><a href="https://github.com/din-s">{{name}}</a></span>
      <a href="https://www.linkedin.com/in/din-s-sharma/">
        <img src="/img/linkedin.png" alt="Dins_sharma@linkedIn"></a>
    &nbsp;
      <a href="https://twitter.com/dins_sharma">
        <img src="/img/twitter.png" alt="Dins_sharma@twitter"></a>
    &nbsp;
      <a href="https://www.instagram.com/dins_sharma/">
        <img src="/img/instagram.png" alt="dins_sharma@instagram"></a>
    </p>
</footer>